.clear {
	background-position: 6px -301px;
}

.ERIS {
	background-position: 6px -243px;
}

.extent {
	background-position: 7px -49px;
}

.identify {
	background-position: 7px -157px;
}

.pan {
	background-position: 7px -130px;
}

.parcel {
	background-position: 6px -186px;
}